<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars<title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid p-3 my-3 bg-dark text-white">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    
    <div class = "col-md-12" >
      <h2>Latest Mars News</h2>
      <h3>{{ mars_data.news_title }}</h3>
      <p>{{ mars_data.news_p }}</p>
      <hr>
    </div>

    <div class = "col-md-8">
    <h2>Featured Mars Image</h2>
    <img class = "img-responsive" src="{{ mars_data.featured_image_url }}"  alt="Mars_Image">
    </div>

    <div class = "col-md-4">
      <div class="table">
        <h3>Mars Facts</h3>
        <p>{{mars_facts.html}}</p>
      </div>  
    </div>

  </div>
  
  <div class="container">
    <div class="row">
      <h3>Mars Hemispheres</h3>
      <hr>
        <div class="card">
            {% for image in mars_data.hemisphere_img_urls %}
            <div class="col-md-6">
                <img class="card-img-top img-fluid" src="{{image.img_url}}" width="100%" alt="{{image.title}}"> 
                <div class="card-body">
                    <h4 class="card-title">{{image.title}}</h4>    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    
  </div>
</body>

</html>
